{% extends 'login_app/base.html' %}
{% block body_block %}

<h3>Login</h3>
<form  method="POST" action="{% url 'login_app:user_login' %}">

<label for="username">Username</label>
<input type="text" name="username" value="" placeholder="Enter Your Username" required class="form-control">
<label for="password">Password</label>
<input type="password" name="password" value="" placeholder="Enter Your Password" required class="form-control">
<input type="submit" name=Submit" value="Login" class="btn btn-primary btn-sm my-3">
{% csrf_token %}


</form>



{% endblock %}
