<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Homepage of firstapp</title>
  </head>
  <body>
    <h2 id="p1">Hello</h2>
    <div class="container text-center my-5">
          <h1 class="text-success hi">Homepage of firstapp</h1>
    </div>
    <img src="{% static "images/pdj.png" %}" alt="">

  </body>
</html>
