<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage of Homeapp</title>
  </head>
  <body>
      <h1>Header of Contact Page</h1>
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci dolore corporis molestiae suscipit illo quae provident, aliquid omnis laboriosam corrupti numquam consequuntur voluptatibus? Dolores nostrum fugit ratione, perferendis nesciunt atque. Accusantium quod reiciendis autem perferendis? Quas officiis minus nihil nam earum explicabo, quod animi, reiciendis alias vitae atque adipisci praesentium.</p>

         <h3>Go to Home Page <a href="/">Home</a></h3>
  </body>
</html>
