<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static "css/style1.css" %}">
    <meta charset="utf-8">
    <title>Musician list</title>
  </head>
  <body>
      <h1>Musicians</h1>

      <p>{{T1}}</p>
      <table border="2" color="green">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>instrument</th>
      </tr>

      {% for rows in m %}

      <tr>
        <td>{{rows.first_name}}</td>
        <td>{{rows.last_name}}</td>
        <td>{{rows.instrument}}</td>
      </tr>

      {% endfor %}

</table>
  </body>
</html>
