{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{%static "css/mystyle.css" %}">
    <meta charset="utf-8">
    <title>Homepage of Homeapp</title>
  </head>
  <body>
      <h1>Header of homepage</h1>
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci dolore corporis molestiae suscipit illo quae provident, aliquid omnis laboriosam corrupti numquam consequuntur voluptatibus? Dolores nostrum fugit ratione, perferendis nesciunt atque. Accusantium quod reiciendis autem perferendis? Quas officiis minus nihil nam earum explicabo, quod animi, reiciendis alias vitae atque adipisci praesentium.</p>


      <h3>Go to contact Page <a href="/contact">Contact</a></h3>

      <img src="{% static "images/abc.jpg" %}" alt="">

  </body>
</html>
